	<div class="navhead">
		<h1>🕮 LPI-SIM 3000</h1>
	</div>

	<div class="navdiv">
		<button routerLink="/home"		   mat-flat-button color="primary">Home</button>
		<button routerLink="/learn_mode_a" mat-flat-button color="primary">Learn Mode A</button>
		<button routerLink="/learn_mode_b" mat-flat-button color="primary">Learn Mode B</button>
		<button routerLink="/check_mode"   mat-flat-button color="primary">Check Mode</button>
		<button routerLink="/exam_mode"    mat-flat-button color="primary">Exam Mode</button>
		<button routerLink="/about" 	   class="aboutB" mat-flat-button color="primary">About</button>
	</div>