<mat-card> 
	<mat-card-header class="headline" mat-flat-button>{{quizTitle}}</mat-card-header>
	<mat-card-subtitle class="subheadline">assisted sequential quiz mode</mat-card-subtitle>

	<mat-divider></mat-divider>

	<app-question></app-question>

	<div class="buttonbox">
	<button (click)="onBack()" class="previous" mat-flat-button color="primary" [disabled]="backDisabled">back</button>
	<button (click)="onCheck()" class="solution" mat-flat-button color="accent" [disabled]="solutionDisabled" [hidden]="solutionHidden">check</button>
	<button (click)="onNext()" class="next" mat-flat-button color="primary"		[disabled]="nextDisabled">next</button>
	</div>
</mat-card>