
<div class="questiondiv">
<br>
<h3 class="textheadline">Question Number</h3>
<p  class="textbody">{{questionText}}</p>
</div>
<mat-divider class="divider"></mat-divider>
<p class="answerheadline">Your answer:</p>

<div class="answerdiv">
	<div *ngIf="questionType === 'MCQ';">
	<app-multiple-choice ></app-multiple-choice>
	</div>

	<div *ngIf="questionType === 'SCQ';">
	<app-single-choice [correctAnswer]="qCorrectAnswer"></app-single-choice>
	</div>

	<div *ngIf="questionType === 'FIQ';">
	<app-fill-in></app-fill-in>
	</div>
</div>

<mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>