
<div class="questiondiv">
<br>
<h3 class="textheadline">Question Number</h3>
<p  class="textbody">{{questionText}}</p>
</div>
<mat-divider class="divider"></mat-divider>
<p class="answerheadline">Your answer:</p>

<div class="answerdiv">
	<div [style.visibility]="questionType === 'MCQ' ? 'visible' : 'hidden'" [style.display]="questionType === 'MCQ' ? 'block' : 'none'">
	<app-multiple-choice [correctAnswer]="qCorrectAnswer"></app-multiple-choice>
	</div>

	<div [style.visibility]="questionType === 'SCQ'  ? 'visible' : 'hidden'" [style.display]="questionType === 'SCQ' ? 'block' : 'none'">
	<app-single-choice [correctAnswer]="qCorrectAnswer"></app-single-choice>
	</div>

	<div [style.visibility]="questionType === 'FIQ'  ? 'visible' : 'hidden'" [style.display]="questionType === 'FIQ' ? 'block' : 'none'">
	<app-fill-in [correctString]="qCorrectString"></app-fill-in>
	</div>
</div>

<mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>