.radiobuttons {
	margin-left: 15px;
	padding-top: 12px;
	padding-right: 13px;
	padding-bottom: 12px;
}

p {
	margin-right: 30px;
}

.dot {
  color: ff4081;
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}