.radiobuttons {
	margin-left: 15px;
	padding-top: 12px;
	padding-right: 13px;
	padding-bottom: 12px;
}

p {
	margin-right: 30px;
}

.correct {
  background-color: #8dfcb1;
}

.wrong {
	background-color: #e8649b;
}